/* 
    ? The styles are listed as this form:
    * 0.- General
    * 1.- Hero-section
    * 2.- Chat section
    * 3.- Services section
*/

/* General */

:root {
    /*  --honewdew: #eefff0; */
    --orange: #f06449;
    --mimipink: #FED4E7;
    --charcoal-4: #1B2021;
    --charcoal-3: #525657;
    --charcoal-2: #898C8D;
    --charcoal-1: #C0C2C3;
    --mintcream: #F8FFF4;
    /* * Another color atempt */
    --honewdew: #F6F7F8;
    --cultured: #F6F7F8;
    --earlblack: #1B2021;
    --margin-msg: 25px;
}

* {
    margin: 0;
    padding: 0;
}

.dead-space {
    content: "";
}

.glassmorphism-light-1,
.glassmorphism-dark-1 {
    width: 100%;
    max-width: 350px;
    height: 250px;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.glassmorphism-dark-1 {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
}

.main-content::before {
    content: "";
    z-index: 9000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png');
    animation: .66s infinite noise;
    pointer-events: none;
}

@keyframes noise {

    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

/* /General */

/* Hero-section */
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.side-a {
    transition: ease-in-out .3s;
    background-color: var(--honewdew);
    height: 100vh;
    background-image: linear-gradient(var(--charcoal-4) .1em, transparent .1em), linear-gradient(90deg, var(--charcoal-4) .1em, transparent .1em);
    background-size: 2.5em 2.5em;
    animation: AnimateBG 20s ease infinite;
}

.side-a:hover {
    transition: ease-in-out .3s;
    background-size: 1.5em 1.5em;
}

.side-b {
    background-color: var(--charcoal-4);
    height: 100vh;
}

.hero-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--orange);
    position: relative;
}

img.hero-img {
    width: 350px;
    /* filter: grayscale(100%); */
    border-radius: 50%;
    -webkit-filter: drop-shadow(2px 2px 2px #666666) grayscale(100%);
    filter: drop-shadow(1px 1px 1px #666666) grayscale(100%);
}

/* /Hero-section */

/* Chat Section */
.container-chat {
    content: "";
    height: 90%;
    width: 85%;
    /* background-color: var(--charcoal-3); */
    border-radius: 9px;
}

.wa-bg {
    background-image: url(/assets/img/wa-bg.png);
}

.chat-header {
    height: 7.9%;
    border-radius: inherit;
}

.img-chat {
    width: 40px;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 12px;
}

.msg {
    padding: 5px 0px 0px 15px;
    margin-left: var(--margin-msg);
    background-color: var(--charcoal-1);
    height: 50px;
    width: 50%;
    border-radius: 50px;
    font-size: 0.775rem;
}

.msg.me {
    margin-left: 45%;
    height: 50px;
    background-color: #eefff0bf;
}

.send-container {
    height: 90px;
    position: relative;
    align-self: flex-end;
    /* background-color: var(--charcoal-2); */
    border-radius: inherit;
    margin: 0;;
}

.circular-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-btn>i {
    font-size: 1.5rem;
}

/* /Chat Section */

/* Services Section */
.services-marquee {
    background-color: var(--charcoal-4);
    height: 10vh;
}

.services {
    height: 90vh;
    background-color: var(--honewdew);
}

/* /Services Section */