/* 
    ? The styles are listed as this form:
    * 0.- General
    * 1.- Hero-section
    * 2.- Chat section
    * 3.- Services section
*/

/* General */

:root {
    /*  --honewdew: #eefff0; */
    --orange: #f06449;
    --mimipink: #FED4E7;
    --charcoal-4: #1B2021;
    --charcoal-3: #525657;
    --charcoal-2: #898C8D;
    --charcoal-1: #C0C2C3;
    --mintcream: #F8FFF4;
    /* * Another color atempt */
    --honewdew: #F6F7F8;
    --cultured: #F6F7F8;
    --earlblack: #1B2021;
    --margin-msg: 45px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

.dead-space {
    content: "";
}

.glassmorphism-light-1,
.glassmorphism-dark-1 {
    height: 250px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.glassmorphism-dark-1 {
    border: 2px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.7);
}

.main-content::before {
    content: "";
    z-index: 9000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png');
    animation: .66s infinite noise;
    opacity: 10%;
    pointer-events: none;
}

@keyframes noise {

    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

/* /General */

/* Hero-section */
@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.side-a {
    transition: ease-in-out .3s;
    background-color: var(--honewdew);
    height: 100vh;
    background-image: linear-gradient(var(--charcoal-4) .1em, transparent .1em), linear-gradient(90deg, var(--charcoal-4) .1em, transparent .1em);
    background-size: 2.5em 2.5em;
    animation: AnimateBG 20s ease infinite;
}

.side-a:hover {
    transition: ease-in-out .3s;
    background-size: 1.5em 1.5em;
}

.side-b {
    background-color: var(--charcoal-4);
    height: 100vh;
}

.hero-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--orange);
    position: relative;
}

img.hero-img {
    width: 350px;
    /* filter: grayscale(100%); */
    border-radius: 50%;
    -webkit-filter: drop-shadow(2px 2px 2px #666666) grayscale(100%);
    filter: drop-shadow(1px 1px 1px #666666) grayscale(100%);
}

/* /Hero-section */

/* Chat Section */
.container-chat {
    content: "";
    height: 90%;
    width: 1000px;
    border-radius: 9px;
}

.wa-bg {
    background-image: url(/assets/img/wa-bg.png);
}

.chat-header {
    height: 7.9%;
    border-radius: inherit;
}

.img-chat {
    width: 40px;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 13px;
}

.msg {
    padding: 21px 13px 0px 19px;
    margin-left: 2%;
    background-color: var(--charcoal-1);
    height: 95px;
    width: 60%;
    border-radius: 50px;
    font-size: 0.775rem;
    text-align: left;
}

.msg.me {
    text-align: left;
    margin-left: 40%;
    height: 95px;
    background-color: #eefff0;
}

.send-container {
    height: 90px;
    position: relative;
    align-self: flex-end;
    /* background-color: var(--charcoal-2); */
    border-radius: inherit;
    margin: 0;
    ;
}

.circular-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-btn>i {
    font-size: 1.35rem;
}

/* /Chat Section */

/* Services Section */
@keyframes marquee {
    0% {
        -moz-transform: translateX(100vw);
        /* Firefox bug fix */
        -webkit-transform: translateX(100vw);
        /* Firefox bug fix */
        transform: translateX(100vw);
    }

    100% {
        -moz-transform: translateX(-130%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-130%);
        /* Firefox bug fix */
        transform: translateX(-130%);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.marquee {
    height: 40px;
    /* overflow: hidden; */
    position: relative;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    overflow: hidden !important;
}

.marquee > div{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;
    color: #E36414;
    position: relative;
    text-overflow: hidden;
    white-space: nowrap;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); 
    justify-content: center;
    /* Apply animation to this element */
    -moz-animation: marquee 17s linear infinite;
    -webkit-animation: marquee 17s linear infinite;
    animation: marquee 17s linear infinite;
    
}

.marquee-text{
    display: flex;
}
.marquee-text > *{
    margin-left: 30px;
    margin-right: 30px;
}

.rotate{
    /* animation: rotation 8s infinite linear; */
    margin: 0;
    padding: 0;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

.services-marquee {
    background-color: var(--charcoal-4);
    height: 10vh;
}

.services {
    width: 100vw;
    height: 90vh;
    background-color: var(--honewdew);
}

.service{
    background-color: var(--earlblack);
    color: #eefff0;
    border: #eefff0 9px solid;
}
.service.m {
    border-left: 0;
    color: #eefff0;
    border: #eefff0 9px solid;
}
/* /Services Section */